<p>header works!</p>
<!-- if validate -->
    <div class="navbar-collapse" *ngIf="isLoggedIn">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown text-capitalize">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Hi， {{user.given_name + '' + user.family_name}} 
                </button>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Purchased Movies</a></li>
                    <li><a class="dropdown-item" href="#">Favorite Movies</a></li>
                    <li><a class="dropdown-item" href="#">Account</a></li>
                    <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>

<!-- else -->
    <div class="navbar-collapse collapse w-100" *ngIf="!isLoggedIn">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item p-2">
                <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Login">Login</a>
            </li>
            <li class="nav-item p-2">
                <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Register">Register</a>
            </li>
        </ul>
    </div>

